@charset "UTF-8";

main {
    font-family: "Nanum Myeongjo", serif;
    font-size: 16px;
    color: #888;
    text-align: center;
    padding: 40px 0;
}

/* main img {
    display: block;
    width: 500px;
    height: auto;
    margin: 0 auto 50px;
} */

main .text-wrap p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
}

main .text-wrap .white-leaf {
    font-size: 14px;
    margin-top: 30px;
    color: #000;
    font-weight: bold;
}

@media (max-width: 600px) {
    main img {
        width: 100%;
        height: auto;
    }
    
    main .text-wrap {
        padding: 0 24px;
    }

    main .text-wrap p {
        font-size: 12px;
    }

    main .text-wrap strong {
        font-size: 12px;
    }
}